#card{
    height: 350px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    img{
        width: 300px;
    }
}
#one{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

#card:hover{
    background-color: black;
    color: white;
}